/*style sheet for CSSPoetry.html Exercise 5 */

p {
    color:blue;
    font-size:2em;
  }

  /* indicates that it is a class */
  .fire {
      color: red;
  }

  .ice {
      color: grey;
    }

  .left {
      text-align: left;
  }

.right {
  text-align: right;
}

.center {
  text-align: center;
}
/* Is this positioning okay? */
