* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #B5B2B0;
}

flex-item {
  flex: 1;
}

flex-container {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

h1 {
  color: black;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;

}

header {
  color: black;
  text-align: left;
  line-height: 5em
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;

}

/* Adapted from https://css-tricks.com/snippets/css/typewriter-effect/ re-designed
to fit this projects aesthetic */
.typewriter h1 {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(15, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Base foundation of code was found via https://medium.com/free-code-camp/vanilla-javascript-tutorial-build-a-memory-game-in-30-minutes-e542c4447eae
*/
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #13292A;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
